body{
    background-color: rgb(252, 249, 249);
}
ol{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
li{
    margin-top: 2em;
    
    
}
#teamM li{
    list-style: none;
}
.card{
    display: none;
}
#teamM{
    display: flex;
    justify-content: space-evenly;
}
.form{
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 880px) {
    
      .form{
        width: 80%;
        margin: 0 auto;
    }
    
  }
@media screen and (max-width: 480px) {
    
      .form{
        width: 100%;
        margin: 0 auto;
    }
    
  }